#========================
# Ambiente virtual Python
#=========================
.venv/

#========================
# Váriáveis de ambiente e credenciais
#=========================
.env
.env.dev
.env.prod
.env.test

#========================
# Arquivos de chaves/credenciais
#=========================
*.pem
*.key
*.secret

#========================
# Cache Python
#=========================
__pycache__/
*.pyc
*.pyo
*pyd

#========================
Logs da aplicação
#=========================
logs/
*.log

#========================
# Testes e cobertura
#=========================
.pytest_cache/
.coverage
htmlcov/

#========================
Jupyter Notebook
#=========================
.ipynb_checkpoints/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Dados locais
# =========================
data/


# =========================
# Spark
# =========================
.spark/

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml